.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.publication-body {
  display: flex;
  width: 100%;
}

/*-*-*-* MENU ESQUERDO *-*-*-*/

.logo img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.leftMenu, .rightMenu {
  flex: 1;
  display: flex;
  background: #fefefe;
}

.leftMenu {
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  position: sticky;
  left: 0;
  top: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.menuItem img {
  margin-right: 10px;
  width: 26px;
  height: 26px;
}

.menuItem:hover {
  background-color: #e9e9e9;
  color: #000;
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.leftMenu input {
  padding: 12px 12px;
  background-image: url('images/search-icon.png');
  background-position: 10px center;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.leftMenu input:focus {
  border: 1px solid #f9f9f9;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.leftMenu p {
  margin-top: auto;
  text-align: center;
  width: 100%;
  color: #d2d2d2;
  font-size: 12px;
}


/*-*-*-* FEED DE NOTÍCIAS *-*-*-*/
.feed {
  flex: 2.5; /* Cresce duas vezes mais rápido que leftMenu e rightMenu */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 100vw;
}

.publication {
  margin: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.img_and_user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile_picture {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user {
  font-size: 16px;
  color: #222;
}

.text_and_picture {
  display: flex;
  flex-direction: column;
}

.text_and_picture p {
  text-align: justify;
}

.postText {
  font-size: 14px; /* Tamanho da fonte do texto do post */
  color: #666; /* Cor do texto */
  margin-bottom: 10px; /* Espaço entre o texto e a imagem do post */
}

.text_and_picture img {
  max-width: 100%; /* Ajusta a imagem para não ultrapassar a largura da div */
  height: auto; /* Mantém a proporção da imagem */
}

/*-*-*-* MENU DIREITO *-*-*-*/
.rightMenu {
  text-align: center;
  display: flex;
  padding: 30px;
}

.img_and_user_right {
  display: flex;
  margin-bottom: 10px;
}

/*-*-*-* Login/Register *-*-*-*/
.containerLogin {
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.Centro {
  width: 60%;
  height: 65%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
}

.loginDetails {
  width: 50%;
  flex: 1;
}

.logo_login {
  width: 30%;
}

.login_txt {
  text-align: center;
  font-size: 22px;
  color: #2d2d2d;
}

.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.login_form input {
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.login_form button {
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  outline: none; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  transition: all 0.3s ease;
}

.login_form button:hover {
  background-color: #0056b3; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}

.login_form button:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.5); 
  transform: translateY(2px); 
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
}

.radio-container div {
  display: flex;
}

.studentType + label {
  margin-right: 20px;
}

.register_url {
  text-decoration: none;
  color: #909497;
  margin-bottom: 10px;
  left: 0;
}

.select_university {
  width: 100%;
  margin-bottom: 8px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  color: #777777;
}

/*-*-*-* RESPONSIVIDADE *-*-*-*/
@media screen and (max-width: 600px) {
  .header {
      flex-direction: column;
  }

  .header a, .header input, .header-center, .header-right, .header-left {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
  }

  .header-left img {
    width: 50%;
    margin: 0 auto;
  }

  .header a {
      text-align: center; /* Garante que o texto dos links fique alinhado à esquerda */
  }

  .header input {
      justify-content: center;
      width: 100%;
      max-width: 100%;
  }
}