.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-*-*-* HEADER *-*-*-*/
.header {
  overflow: hidden;
  background-color: #0056b3;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left, .header-right, .header-center {
  flex: 1;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  display: inline-block;
}

.header-right a:hover {
  background-color: #004080;
  color: #ddd;
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header a.logo {
  border-radius: 8px;
  align-items: center;
  float: left;
  margin-left: 10px;
}

.header-center input {
  padding: 12px 12px;
  background-image: url('images/search-icon.png');
  background-position: 10px center;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  background-color: #f1f1f1;
}

.header input:focus {
  border: 1px solid #f9f9f9;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.header img {
  width: 50px;
  margin-top: auto;
  display: block;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-center {
  display: flex;
  justify-content: center;
}

/*-*-*-* RESPONSIVIDADE *-*-*-*/
@media screen and (max-width: 600px) {
  .header {
      flex-direction: column;
  }

  .header a, .header input, .header-center, .header-right, .header-left {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
  }

  .header-left img {
    width: 50%;
    margin: 0 auto;
  }

  .header a {
      text-align: center; /* Garante que o texto dos links fique alinhado à esquerda */
  }

  .header input {
      justify-content: center;
      width: 100%;
      max-width: 100%;
  }
}