.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*-*-*-* MENU ESQUERDO *-*-*-*/
.publication-body {
  display: flex;
}

.logo img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.leftMenu, .rightMenu {
  flex: 1;
  display: flex;
  background: #fefefe;
}

.leftMenu {
  flex-direction: column;
  padding: 10px;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  left: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  border-radius: 5px;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.menuItem img {
  margin-right: 10px;
  width: 26px;
  height: 26px;
}

.menuItem:hover {
  background-color: #e9e9e9;
  color: #000;
  transform: translateY(-2px); 
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.leftMenu input {
  padding: 12px 12px;
  background-image: url('images/search-icon.png');
  background-position: 10px center;
  background-size: 25px;
  background-repeat: no-repeat;
  padding-left: 40px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  max-width: 400px;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 10px;
}

.leftMenu input:focus {
  border: 1px solid #f9f9f9;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.leftMenu p {
  margin-top: auto;
  text-align: center;
  width: 100%;
  color: #d2d2d2;
  font-size: 12px;
}


/*-*-*-* FEED DE NOTÍCIAS *-*-*-*/
.feed {
  flex: 2.5; /* Cresce duas vezes mais rápido que leftMenu e rightMenu */
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 100vw;
}

/*-*-*-* MENU DIREITO *-*-*-*/

/*-*-*-* RESPONSIVIDADE *-*-*-*/
@media screen and (max-width: 600px) {
  .header {
      flex-direction: column;
  }

  .header a, .header input, .header-center, .header-right, .header-left {
      float: none;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
  }

  .header-left img {
    width: 50%;
    margin: 0 auto;
  }

  .header a {
      text-align: center; /* Garante que o texto dos links fique alinhado à esquerda */
  }

  .header input {
      justify-content: center;
      width: 100%;
      max-width: 100%;
  }
}